section.quote
    .container.quote__container
        .quote__wrapper 
            .quote__bg 
                <svg xmlns="http://www.w3.org/2000/svg" width="1392" height="581" viewBox="0 0 1392 581" fill="none">
                    <rect y="580.298" width="580.303" height="1392" rx="15" transform="rotate(-90 0 580.298)" fill="url(#paint0_radial_11806_2549)" fill-opacity="0.1"/>
                    <defs>
                    <radialGradient id="paint0_radial_11806_2549" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.80102e-05 1276.3) scale(418.986 553.33)">
                    <stop stop-color="#1429D4"/>
                    <stop offset="0.61" stop-color="#1429D4" stop-opacity="0.604101"/>
                    <stop offset="1" stop-color="#1429D4" stop-opacity="0"/>
                    </radialGradient>
                    </defs>
                </svg>
           
            .quote__title 
                h3 

            .quote__divider
                .divider 
                <svg width="38" height="29" viewBox="0 0 38 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.0351 0V6.12H31.5251C28.7651 6.12 27.3851 7.5 27.3851 10.26V13.14H28.9151C31.3151 13.14 33.2951 13.86 34.8551 15.3C36.4751 16.74 37.2851 18.57 37.2851 20.79C37.2851 23.19 36.4751 25.14 34.8551 26.64C33.2951 28.14 31.3151 28.89 28.9151 28.89C26.4551 28.89 24.4451 28.14 22.8851 26.64C21.3251 25.08 20.5451 23.01 20.5451 20.43V10.08C20.5451 3.36 23.9051 0 30.6251 0H35.0351ZM15.2351 0V6.12H11.7251C8.96512 6.12 7.58512 7.5 7.58512 10.26V13.14H9.11512C11.5151 13.14 13.4951 13.86 15.0551 15.3C16.6751 16.74 17.4851 18.57 17.4851 20.79C17.4851 23.19 16.6751 25.14 15.0551 26.64C13.4951 28.14 11.5151 28.89 9.11512 28.89C6.65512 28.89 4.64512 28.14 3.08512 26.64C1.52512 25.08 0.745117 23.01 0.745117 20.43V10.08C0.745117 3.36 4.10512 0 10.8251 0H15.2351Z" fill="#1429D4" style="mix-blend-mode:multiply" />
                </svg>
                .divider

       

            .quote__subtitle 
                p 

            .quote__authors
                .quote-author
                    .quote-author__img
                        img.quote-author__image(
                            src="./img/Mask group.jpg",
                            alt="Michelle Anderson",
                            data-title="Specialists in the field are saying with VisAid",
                            data-subtitle="This platform has revolutionized the way I connect with young people...",
                            data-author="Michelle Anderson",
                            data-position="Alfred Health"
                        )
                        img.quote-author__image(
                            src="./img/Mask group.jpg",
                            alt="John Smith",
                            data-title="Transforming connections with VisAid",
                            data-subtitle="As a professional, this tool provides seamless interaction...",
                            data-author="John Smith",
                            data-position="Health Connect"
                        )
                        img.quote-author__image(
                            src="./img/Mask group.jpg",
                            alt="Sarah Brown",
                            data-title="Bridging the gap with VisAid",
                            data-subtitle="This platform has truly helped me engage more deeply...",
                            data-author="Sarah Brown",
                            data-position="Care Plus"
                        )
                    .quote-author__info
                        h4.quote-author__title John Smith
                        p.quote-author__subtitle Health Connect


           

